<!DOCTYPE html>
<html lang="zh" class="mobile hairline dpr2" data-dpr="2">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,minimum-scale=1,user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta content="email=no" name="format-detection">
        <meta name="theme-color" content="#000000">
        <title>OA账号密码重置</title>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    </head>
    <body>
        
        <div id="app">
            <template>
                <div class="page-tabbar">
                    <div class="page-wrap">
                        <mt-tab-container class="page-tabbar-container" v-model="selected">
                            <mt-tab-container-item id="外卖">
                                <mt-cell v-for="n in 10" :title="'餐厅 ' + n" />
                            </mt-tab-container-item>
                            <mt-tab-container-item id="订单">
                                <mt-cell v-for="n in 5" :title="'订单 ' + n" />
                            </mt-tab-container-item>
                        </mt-tab-container>
                    </div>

                    <mt-tabbar v-model="selected" fixed>
                        <mt-tab-item id="外卖">
                            <img slot="icon" src="../assets/100x100.png">
                            外卖
                        </mt-tab-item>
                        <mt-tab-item id="订单">
                            <img slot="icon" src="../assets/100x100.png">
                            订单
                        </mt-tab-item>
                    </mt-tabbar>
                </div>
            </template>
        </div>

        <script src="https://venus-pub.oss-cn-beijing.aliyuncs.com/leonid/component/vendor-3.0.0.js"></script>
        <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.3.0/dingtalk.open.js"></script>
        <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
        <script src="index.js"></script>
    </body>
</html>